#footer {
    background-color: rgb(13, 24, 31);
    display: flex;
    position: relative;
    z-index: 0;
    flex-direction: column;
    width: 100%;
    font-size: 10px;
    box-sizing: border-box;
    color: rgb(161, 161, 161);
}

#footer .go-to-top {
    width: 100%;
    text-align: center;
    background-color: gray;
    color: black;
    padding: 10px 0px;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.267);
    cursor: pointer;
}

#footer .container {
    display: flex;
    flex-direction: row;
}

#footer .container a {
    text-decoration: none;
    color: rgb(161, 161, 161);
}

#footer .container .data,
#footer .container .contact {
    width: 300px;
    text-align: start;
    align-self: center;
    margin: 15px auto;
    font-size: 14px;
}

#footer .container .data {
    text-align: center
}

#footer .copyright {
    text-align: center;
    padding: 5px;
    background-color: rgba(24, 23, 23, 0.876);
    color: rgb(161, 161, 161);
}

@media screen and (max-width:500px) {
    #footer .container .data,
    #footer .container .contact {
        font-size: 12px;
    }
}