#kartBox {
    position: fixed;
    top: 8vh;
    right: 80px;
    background-color: aqua;
    max-height: 80vh;
    overflow-y: auto;
    width: 300px;
    z-index: 1;
    height: 60vh;
    overflow: hidden;
    padding: 50px 10px;
}

.cartBox {
    background-color: black;
    color: aliceblue;
    height: 100%;
    overflow: auto;
    padding: 0px 2px;
}