#product {
    width: 250px;
    margin: 15px auto;
    cursor: pointer;
}

#product .productImg .img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

#product .productDesc {
    display: flex;
    flex-direction: row;
}

#product .productDesc .product-price {
    padding: 12px 20px;
    font-size: 22px;
}

#product .productDesc .product-desc h1 {
    font-size: 22px;
}

.ProductPage {
    background-color: blueviolet;
    position: fixed;
    z-index: 50;
    top: 50%;
    left: 50%;
    padding: 20px;
    display: flex;
    box-sizing: border-box;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

.ProductPage .img {
    height: 80%;
    float: left;
    width: auto;
    margin: auto 0px;
    border-radius: 20px;
    margin-left: 30px;
}

.ProductPage .contain {
    width: 100%;
}

.ProductPage .contain button {
    width: 30px;
    float: right;
    height: 30px;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    font-size: x-large;
    font-weight: bolder;
}

.ProductPage .contain .desc {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
}

.ProductPage .contain .desc h3 {
    font-size: 30px;
    font-weight: bold;
}

.ProductPage .contain .desc span {
    font-size: 28px;
    padding: 10px 20px;
    font-weight: bold;
    color: rgb(0, 207, 0);
    height: 50px;
}

.ProductPage .contain .desc p {
    font-size: 20px;
    height: 220px;
    overflow: auto;
}

.ProductPage .contain .desc .actionBtn {
    width: max-content;
    padding: 0%;
    margin: 20px auto 20px auto;
}

.ProductPage .contain .desc button {
    width: 200px;
    background-color: rgba(187, 255, 0, 0.856);
    padding: 10px 20px;
    margin: 3px 20px;
    height: max-content;
    border-radius: 30px;
}

.ProductPage .contain .desc button:hover {
    background-color: rgba(99, 255, 37, 0.849);
}

#overlay {
    position: fixed;
    /* opacity: 0; */
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
    cursor: pointer;
}