#product {
    width: 23%;
    margin: 15px auto;
    cursor: pointer;
}

#product .productImg .img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

#product .productDesc {
    display: flex;
    flex-direction: row;
}

#product .productDesc .product-price {
    width: 30%;
    height: min-content;
    margin: auto 0px;
    text-align: center;
    font-size: 22px;
}

#product .productDesc .product-desc h1 {
    font-size: 22px;
}

#product .productDesc .product-desc p {
    text-align: justify;
}

.ProductPage {
    background-color: blueviolet;
    position: fixed;
    z-index: 50;
    top: 50%;
    left: 50%;
    padding: 20px;
    display: flex;
    box-sizing: border-box;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

.ProductPage .img {
    height: 80%;
    float: left;
    width: auto;
    margin: auto 0px;
    border-radius: 20px;
    margin-left: 30px;
}

.ProductPage .contain {
    width: 100%;
}

.ProductPage .contain button {
    width: 30px;
    float: right;
    height: 30px;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    font-size: x-large;
    font-weight: bolder;
}

.ProductPage .contain .desc {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
}

.ProductPage .contain .desc h3 {
    font-size: 30px;
    font-weight: bold;
}

.ProductPage .contain .desc span {
    font-size: 28px;
    padding: 10px 20px;
    font-weight: bold;
    color: rgb(0, 207, 0);
    height: 50px;
}

.ProductPage .contain .desc p {
    font-size: 20px;
    height: 220px;
    overflow: auto;
}

.ProductPage .contain .desc .actionBtn {
    width: max-content;
    padding: 0%;
    margin: 20px auto 20px auto;
}

.ProductPage .contain .desc button {
    width: 200px;
    background-color: rgba(187, 255, 0, 0.856);
    padding: 10px 20px;
    margin: 3px 20px;
    height: max-content;
    border-radius: 30px;
}

.ProductPage .contain .desc button:hover {
    background-color: rgba(99, 255, 37, 0.849);
}

#overlay {
    position: fixed;
    /* opacity: 0; */
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
    cursor: pointer;
}

@media screen and (max-width:1024px) {
    #product .productDesc .product-price {
        font-size: 16px;
    }
    #product .productDesc .product-desc h1 {
        font-size: 18px;
    }
    #product .productDesc .product-desc p {
        text-align: justify;
        font-size: 13px;
    }
    .ProductPage {
        padding: 10px;
        width: 80%;
        height: 80%;
    }
    .ProductPage .img {
        float: left;
        width: 37%;
        height: auto;
    }
    .ProductPage .contain {
        width: 58%;
    }
    .ProductPage .contain .desc {
        padding: 20px;
    }
    .ProductPage .contain .desc h3 {
        font-size: 24px;
    }
    .ProductPage .contain .desc span {
        font-size: 20px;
        padding: 15px 10px;
    }
    .ProductPage .contain .desc p {
        font-size: 14px;
        height: 220px;
        overflow: auto;
    }
    .ProductPage .contain .desc button {
        width: 130px;
        font-size: 16px;
        margin: 0px 10px;
    }
}

@media screen and (max-width:500px) {
    #product {
        width: 48%;
        margin: 10px auto;
    }
    #product .productDesc .product-price {
        font-size: 12px;
    }
    #product .productDesc .product-desc h1 {
        font-size: 16px;
        margin: 0px 3px;
    }
    #product .productDesc .product-desc p {
        margin: 0px 3px;
        font-size: 12px;
    }
    .ProductPage {
        padding: 8px;
        flex-direction: column;
    }
    .ProductPage .img {
        float: left;
        width: 60%;
        height: auto;
        margin: 25px auto 10px auto;
    }
    .ProductPage .contain {
        width: 100%;
    }
    .ProductPage .contain .btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .ProductPage .contain .desc {
        padding: 0px;
        width: 100%;
    }
    .ProductPage .contain .desc h3 {
        font-size: 24px;
        width: max-content;
        padding: 0px;
        margin: 0px auto;
    }
    .ProductPage .contain .desc span {
        font-size: 18px;
        padding: 0px;
        margin: 0px auto;
        height: min-content;
    }
    .ProductPage .contain .desc p {
        font-size: 14px;
        padding-top: 10px;
        margin: 0px auto;
        width: 80%;
    }
    .ProductPage .contain .desc .actionBtn {
        margin: 20px auto 20px auto;
    }
    .ProductPage .contain .desc button {
        width: max-content;
        padding: 10px 20px;
        margin: 3px 5px;
    }
}