.sec-body {
    width: calc(100% - 250px);
    background-color: aquamarine;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width:1024px) {
    .sec-body {
        width: 100%;
        float: none;
    }
}